<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081079915970-2mg2kmj50tikn7j9cga7v8lvfmab96d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081079915970-2mg2kmj50tikn7j9cga7v8lvfmab96d8</string>
	<key>API_KEY</key>
	<string>AIzaSyCs16uT7mKXBIZ16laelTr3Yk6ZCPUuheo</string>
	<key>GCM_SENDER_ID</key>
	<string>1081079915970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>flutter-auth-25b71</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-auth-25b71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081079915970:ios:bd62519bc57b21a01da25b</string>
</dict>
</plist>